@import url(main.css);

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

.price-range--pic {
    width: 100%;
}

.artist-image {
    border-radius: 50%;
    max-height: 100px;
    z-index: 1;
    margin: auto;
}

.card-h {
    height: 100%;
}
