/* General styles*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}


nav a {
    text-decoration: none;
}

.nav-section {
    color: #fafafa;
    background-color: #000;
    margin-bottom: 8rem;
}


/* Nav Styles*/

.nav-section{
    color: #fafafa;
    background-color: #000;
    margin-bottom: 8rem;
}

/*Body Styles*/

body {
    min-height: 100vh;
}

/* Footer Styles */

