/* General styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Body Styles*/

body {
    min-height: 100vh;
    background-color: #F5EFE7;
}

img {
    border-radius: 8px;
}

div > h5,
div > p {
    padding-top: 10px;
}


h1, h2, h3, h3, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #4F709C;
}

h1 {
    color: #213555;
}
.artist-h5,
.jumbo-h4, h4, h6 {
    font-family: 'Lato', sans-serif;
    color: #213555;
    font-weight: bold;
}


p {
    font-family: 'Lato', sans-serif;
    color: #213555;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


nav a {
    text-decoration: none;
}

.nav-section {
    color: #fafafa;
    background-color: #000;
    margin-bottom: 8rem;
}

.uppercase {
    text-transform: uppercase;
}

/* Navbar Styles */
.navbar--styling {
    background-color:#213555;
    color: #F5EFE7;
}

.logo {
    color: #D8C4B6;
    font-weight: 800;
    letter-spacing: 0.3rem;
}

.nav-links {
    color: #F5EFE7;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.nav-links:hover {
    color: #F5EFE7;
    text-decoration: underline;
}

.nav-links-active {
    color: #F5EFE7;
    text-decoration: underline;
}

.nav-links-active:hover {
    color: #F5EFE7;
    text-decoration: underline;
}

.nav-bar-button {
    border-color: #D8C4B6;
    font-family: 'Lato', sans-serif;
    color: #D8C4B6;
}

.nav-bar-button:hover {
    border-color: #D8C4B6;
    font-family: 'Lato', sans-serif;
    background-color: #D8C4B6;
    color: #213555;
}

.burger-button {
    border-color: #4F709C;
    background-color: #4F709C    
}


/* Jumbotron */
.jumbotron-style {
    background-color: #D8C4B6;
}

/* Homepage image */
.gallery {
    object-fit: contain;
    width: auto;
    height: 100%;
}

/* -------Signed in homepage------------- */
#follow-container {
    padding: 0;
}

.follow-box div {
    border-radius: 8px;
}

.bkgr-cl {
    background-color: white;
}

.fav-text{
    padding-top: 20px;
}

.fav-text h3, 
.fav-text h4, 
.fav-text h5{
    padding: 15px 20px 10px 20px;
    margin: 0;
    
}

/* ------not sure which page------ */
.price-range--pic {
    width: 80%;
}

.artist-image {
    border-radius: 50%;
    max-height: 100px;
    z-index: 1;
    margin: auto;
}

/* Nav Styles*/

.nav-section{
    color: #F5EFE7;
    background-color: #000;
    margin-bottom: 8rem;
}



/*Carousel styles*/

.artist-image {
    border-radius: 50%;
    max-height: 100px;
    z-index: 1;
    margin: auto;
}

/*Callout styles*/

.callout-color {
    background-color: rgba(250, 216, 22, 0.666);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Checkout Page */
.form-text {
    font-family: 'Lato', sans-serif;
    color: #213555;
    font-size: 1rem;
}

/* ----------Signed in Page------------- */
.follow-container {
    padding: 0;
}

.follow-box div {
    border-radius: 8px;
}

.bkgr-cl {
    background-color: white;
}

.fav-text{
    padding-top: 20px;
}

.fav-text h3, 
.fav-text h4, 
.fav-text h5{
    padding: 15px 20px 10px 20px;
    margin: 0;
    
}

/* Buttons */

.btn--solid {
    background-color: #213555;
    color: #F5EFE7;
    text-transform: uppercase;
}

.btn--solid:hover {
    background-color: #4F709C;
    color: #F5EFE7;
}

.btn--border {
    border-color: #4F709C;
    color:#4F709C;
}

.btn--border:hover {
    border-color: #4F709C;
    background-color:#4F709C;
    color: #F5EFE7;
}

.carousel-control {
    color: #213555;
}


/* Footer */
.footer-color {
    background-color: #213555;
    color: #F5EFE7;
}

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

