@import url(main.css);

#follow-container {
    padding: 0;
}

.follow-box div {
    border-radius: 8px;
}

.bkgr-cl {
    background-color: #ced5db
}

.fav-text{
    padding-top: 20px;
}

.fav-text h3, 
.fav-text h4, 
.fav-text h5{
    padding: 15px 20px 10px 20px;
    margin: 0;
    
}